body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.dashboard {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}
.header {
    text-align: center;
    font-size: 24px;

}
.info {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.info p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;

}

thead {
    background-color: #333;
    color: #fff;
}

td ,.textarea {
    background-color: #f2f2f2;
}


.edit-button, .delete-button, .update_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #ff0000;
}
.update_button{
    background-color: orange;
}

.edit-button:hover, .delete-button:hover, .update_button:hover {
    background-color: #0056b3;
}

.actions{
    display: flex;
    flex-direction: row;
}

.admin-td {
    color: white;
    background-color: red;
    border: none;
    width: 4%;
}

.textarea{
    width: 90%;
    border: none;

}
